*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image:  url(sunny.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.wrap{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 5px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.3);
    transition: background 0.5s ease;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    border-radius: 10px;
}
header input:focus{
    background-color: rgba(255,255,255,0.8);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.city{
    font-size: 3rem;
    color: white;
}
.date{
    font-size: 1.2rem;
    color: white;
    opacity: 80%;
}
.temp{
    font-size: 4rem;
    color: white;
    text-shadow: 0px 4px #111;
}
.weather{
    font-size: 1.5rem;
    font-style: italic;
    color: white;
}